﻿@model CleverBlue.Models.Blues

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 129px;">
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Blues</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guild)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guild)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuildName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuildName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModulesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModulesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlueVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlueVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDisabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDisabled)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
    </div>