﻿@model CleverBlue.Models.Blues

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 129px;">
<h1>Edit</h1>

<h4>Blues</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guild" class="control-label"></label>
                <input asp-for="Guild" class="form-control" />
                <span asp-validation-for="Guild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuildName" class="control-label"></label>
                <input asp-for="GuildName" class="form-control" />
                <span asp-validation-for="GuildName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModulesId" class="control-label"></label>
                <input asp-for="ModulesId" class="form-control" />
                <span asp-validation-for="ModulesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlueVersion" class="control-label"></label>
                <input asp-for="BlueVersion" class="form-control" />
                <span asp-validation-for="BlueVersion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDisabled" /> @Html.DisplayNameFor(model => model.IsDisabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

    </div>