﻿@model IEnumerable<CleverBlue.Models.Blues>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 129px;">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guild)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuildName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModulesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApiKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlueVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDisabled)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guild)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuildName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModulesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlueVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDisabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
