﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlueUser> SignInManager
@inject UserManager<BlueUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 129px;">
    <div class="alert alert-info" role="alert">
        Your inside the BlueAI beta program! Unexpected issues may occur!
    </div>

    <h1>Welcome @User.Identity.Name!</h1>
    <h4>Manage your Blue</h4>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link active" id="profile" href="">Bot Account</a></li>
                <li class="nav-item"><a class="nav-link" id="change-password"href="">Enabled Modules</a></li>
                <li class="nav-item"><a class="nav-link" id="two-factor" href="">Custom Modules</a></li>
                <li class="nav-item"><a class="nav-link text-danger" id="personal-data" href="">Delete 𝓑𝓵𝓾𝓮</a></li>
            </ul>

        </div>
        <div class="col-md-9">


            <h4>Profile</h4>


            <div class="row">
                <div class="col-md-6">
                    <form id="profile-form" method="post" novalidate="novalidate">
                        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                            <ul>
                                <li style="display:none"></li>
                            </ul>
                        </div>
                        <div class="form-group">
                            <label for="Username">API Key</label>
                            <input class="form-control" disabled="" type="text" id="Username" name="Username" value="027d0a40-b8d9-4eb8-b2de-d2eb88ee6563">
                        </div>
                        <div class="form-group">
                            <label for="Input_Email">Account Name</label>
                            <input class="form-control disabled" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="𝓑𝓵𝓾𝓮" disabled>
                            <button id="email-verification" type="submit" class="btn btn-link" formaction="/Identity/Account/Manage?handler=SendVerificationEmail">Invite 𝓑𝓵𝓾𝓮 to your discord server!</button>
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                        </div>
                        <div class="form-group">
                            <label for="Input_PhoneNumber">Guild ID</label>
                            <input class="form-control" type="tel" data-val="true" data-val-phone="The Phone number field is not a valid phone number." id="Input_PhoneNumber" name="Input.PhoneNumber" value="579643842492628992">
                            <span class="text-danger field-validation-valid" data-valmsg-for="Input.PhoneNumber" data-valmsg-replace="true"></span>
                        </div>
                        <button id="update-profile-button" type="submit" class="btn btn-info">Save</button>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GDH285fAkJMidizy5PAERkuyLhg9OWZojGD8BSFjxAT79WZSYUBdi7YN6Y46X15P-fqXbe1HcZyM40RJXg5QeAvdnWhHcN-y4sxnEeDNipzS5oZt3NTPlVF9fUIO4MJr-tkk0upkQDlOv8p8lOZneiZAZAR40IiuoDARN46KImHQxCic8SspT_OlktFTU5nEw">
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
