﻿
@{
    ViewData["Title"] = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var know = ViewData["Know"];
    var status = ViewData["PS"];
    var progress = ViewData["PV"];
}

<div class="container" style="margin-top: 129px;">
    <div class="alert alert-info" role="alert">
        Your inside the BlueAI beta program! Unexpected issues may occur!
    </div>
    <h1 class="text-dark">Your blue is not quite ready yet!</h1>
    <h2 class="text-dark">We're preparing evreything for you. This might take a while.</h2>
    <div class="form-group">
        <label for="inputEmail4">Your API Key</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Email" value="@ViewData["keyApi"]" disabled>
    </div>
    <hr />
    <p>Your Blue's Status : @status</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-@ViewData["PD"] progress-bar-animated" role="progressbar" aria-valuenow="@progress" aria-valuemin="0" aria-valuemax="100" style="width: @progress%"></div>
    </div>
    <hr />
    <br />
    <p><strong>Did you know? @know</strong></p>
    <br />
    <button type="submit" class="btn btn-info disabled" disabled>Manage Blue</button>
</div>

<script language="javascript">
    setTimeout(function(){
        window.location.reload(1);
    }, 10000);
</script>

