﻿@model CleverBlue.Controllers.DashboardController.InputModel
@{
    ViewData["Title"] = "Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var key = ViewData["keyApi"];
}

<div class="container" style="margin-top: 129px;">

    <h1 class="text-dark">Time to prepare your velociraptor shipment!</h1>
    <h2 class="text-dark">We're going to ask you a few questions before your blue gets delivered.</h2>
    <form asp-action="CreateBlue" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Api"></label>
                <input type="text" class="form-control disabled" asp-for="Api" value="@ViewData["api"]" disabled>
            </div>
            <div class="form-group col-md-6">
                <label for="dino">Dinosaur Type</label>
                <input type="text" class="form-control" id="dino" placeholder="dino" name="dino" value="Velociraptor" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="address" name="address" Value="7337 Prehistoric Street" disabled>
        </div>
        <div class="form-group">
            <label asp-for="GuildId">Guild ID</label>
            <input class="form-control" asp-for="GuildId" placeholder="Discord Server ID" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="oid">Server Owner ID</label>
                <input type="text" class="form-control" id="oid" name="oid" placeholder="User ID">
            </div>
            <div class="form-group col-md-4">
                <label for="version_blue">Blue Version</label>
                <select class="form-control" id="version_blue" name="version_blue">
                    <option selected>PRO</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="𝓑𝓵𝓾𝓮" disabled>
            </div>
        </div>
        <hr />
        <p>Your Blue's Status : Getting Ready...</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 5%"></div>
        </div>
        <hr />
        <br />
        <button type="submit" class="btn btn-info">Order</button>
    </form>
</div>

