@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlueUser> SignInManager
@inject UserManager<BlueUser> UserManager

<ul class="navbar-nav ml-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <!--<li class="nav-item">
            <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>-->

            <li class="jurassic-user dropdown">
                <img class="img-fluid rounded-circle" style="height: 30px;width: 30px;margin-top: -4px;background-size: cover;background: center;" src="https://vignette.wikia.nocookie.net/jurassicpark/images/5/5b/Jurassic-World-Velociraptors-4.png/revision/latest?cb=20150608213312" alt="">
                <a class="dropdown-toggle jurassic-user" data-toggle="dropdown" href="#" aria-expanded="false">
                    @User.Identity.Name<span class="caret"></span>
                            </a>
                <ul class="dropdown-menu">
                    <li class="jurassic-link"><a href="/Identity/Account/Manage/Index" class="jurassic-link">Account</a></li>
                    <li class="jurassic-link"><a href="/Dashboard" class="jurassic-link">Blue</a></li>
                    <br />
                    <li class="jurassic-link">
                        <a href="/Identity/Account/Logout" class="jurassic-link">Logout</a>
                    </li>
                </ul>
            </li>

            <!--<li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                    <button  type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>-->
    }
    else
    {
            <!--<li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>-->

        <li class="jurassic-user dropdown">
            <img class="img-fluid rounded-circle" style="height: 30px;width: 30px;margin-top: -4px;background-size: cover;background: center;" src="https://vignette.wikia.nocookie.net/jurassicpark/images/5/5b/Jurassic-World-Velociraptors-4.png/revision/latest?cb=20150608213312" alt="">
            <a class="dropdown-toggle jurassic-user" data-toggle="dropdown" href="#" aria-expanded="false">Guest Dinosaur<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="jurassic-link"><a href="/Identity/Account/Login" class="jurassic-link">Login</a></li>
                <li class="jurassic-link"><a href="/Identity/Account/Register" class="jurassic-link">Register</a></li>
            </ul>
        </li>
    }

</ul>